.post-container {
    max-height: 200px;
    overflow: hidden;
    background: rgba(255, 108, 0, 0.06);
    border: 1px solid gray;
    border-radius: 10px;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.title {
    font-weight: bold;
}

.text {
    font-size: 12px;
    max-height: 180px;
    text-overflow: ellipsis;
}

img {
    height: 100%;
}